.navigation {
    &__content-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__content-pictur span{
        margin-left: 10px;
    }

    &__content-picture{
        margin-right: 10px;
    }

    &__content-blocks{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__content-blocks i {
        font-size: 30px;
    }

    &__content-blocks span {
        height: 50px;
        font-size: 35px;
        margin-top: 20px;
        margin-left: 20px;
        border: 1px solid #CE0164;
    }

    &__content-blocks h3{
        width: 328px;
        font-size: 17px;
        font-weight: 700;   
        color: #494949;
    }

    &__content-block{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__content-block span{
        height: 50px;
        border: 2px solid #CE0164;
        font-size: 35px;
        margin-left: 10px;
    }
    &__content-block i{
        font-size: 25px;
    }
    &__content-phone{
        margin-left: 20px;
    }
    &__content-phone a{
        color: #494949;
        font-size: 20px;
        font-weight: 600;
    }

    &__content-btn{
        width: 132px;
        height: 33px;
        border-radius: 100px;
        border: none;
        background-color: #CE0164;
        color: #fff;
    }

    &__content-list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 50px;
    }

    &__content-tour{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &__content-list li{
        margin-right: 15px;
    }

    &__content-tour img{
        width: 640px;
        height: 279px;
    }

    &__content-list a{
        color: #444444;
    }
  
}